// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
:root {
    --primary-color: #2a8b6c
  }

.p-invalid-editor{
    border: 1px solid #f44336;
    border-radius: 5px;
}

.accordionTab-custom {
    &.header-icon{
        &-right{
            a{
                justify-content: space-between;
                flex-direction: row-reverse;
            }

        }
    }
}

.p-button-web {
    background-color: var(--primary-color);
}
